.#{$prefix} {
	&divider__item {
		display: block;
		width: 100%;
		height: 0;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		border-top-width: 1px;
		border-top-style: solid;
	}
}
